@import "tailwindcss";

.inputV1 {
  @apply border border-slate-500 rounded p-2! w-64 outline-none;
}

.borderV1 {
  @apply border border-slate-600 rounded outline-0;
}

.pubSubScrollbar,
.selectScrollbar,
.navigateBtnScrollbar {
  &::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded bg-slate-700;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded bg-slate-400;
  }

  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    @apply cursor-move;
  }

  &::-webkit-scrollbar-corner {
    @apply bg-slate-700;
  }
}
