@import "tailwindcss";

.inputV1 {
  @apply border border-slate-500 rounded p-2! w-64;
}

.btnV1 {
  @apply bg-purple-500 text-white p-2! rounded w-64 cursor-pointer hover:bg-purple-600 transition-colors duration-200;
}
